body {
    background-color: lavender;
}


h1 
{
    font-size: 44px;
    font-family: papyrus;
}


h2 
{
    font-family: papyrus;
    font-size: 33px;
}



h4
{
    font-family: papyrus;

}



.main-section {    
    border: 4px solid purple;
    border-radius: 44px;

}

.about-me {
    width: 500px;
    margin: auto;
}