body {
    background-color: lavender;
}


h1 
{
    font-size: 44px;
    font-family: papyrus;
}


h2 
{
    font-family: papyrus;
    font-size: 33px;
}

h3{
    font-family: arial;
    font-size: 19px;
}

h4
{
    font-family: papyrus;

}



.main-section {    
    border: 4px solid purple;
    border-radius: 44px;

}

.about-me {
    padding-left: 33px;
    padding-right: 33px;
    font-family: arial;
    font-size: 15px;
}


.hey {
    font-size: 19px;
}

  .container {
    font-size: 15px;
    font-family: arial;
    text-align: center;
  }


  ul.myUL {
    
    display: inline-block;
    text-align: left;
    list-style-type: circle;
  }

  
  .contact-section {
    font-family: arial;
    font-size: 15px;
  }


  
  /*The reason scuba divers fall backwards is because if they fell forward, they’d end up back in the boat*/